.formModal{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  z-index: 7;
  background: rgba(240, 233, 233, 0.1);
  height: 100%;
  width: 100%;
  background-size: cover;
  backdrop-filter: blur(3px);
}

.formModalHidden{
  display: none;
  position: absolute;
}

.innerFormModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background:rgb(201, 222, 240);
  margin-top: 9%;
  width: auto;
  height: 525px;
  z-index: 19;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.3);
}
.form{
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.submit{
  margin-top: 15px;
}

.label{
  margin-bottom: 2px !important;
  margin-top: 9px !important;
}

.hideButton{
  display: block;
  position: relative;
  z-index: 20;
  margin-top: 8px;
}
