.loginModal {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  z-index: 10;
  background: rgba(240, 233, 233, 0.1);
  height: 300%;
  width: 100%;
  background-size: cover;
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
}

.loginModalHidden {
  display: none;
  position: absolute;
}

.innerModal {
  display: flex;
  margin-top: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(240, 235, 235);
  width: 220px;
  height: 230px;
  z-index: 19;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.3);
}

.loginGithubButton {
  display: block;
  position: relative;
  z-index: 20;
}
.hideButton {
  display: block;
  position: relative;
  z-index: 20;
  margin-top: 8px;
}

.svg {
  margin-bottom: 30px;
  position: relative;
  z-index: 21;
}
