.tableContainer{
  padding: 0.5rem;
  width: 60%;
  max-width:40%;
}

table {
  border: 1px solid black;
}
tr {
  border-bottom: 1px;
}
th,
td {
  padding: 0.2rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
