.MuiTableContainer-root.tableContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  width: 60%;
  position: center;
  background-color: whitesmoke;
  border: 1px lightgray;
  box-shadow: 5px 10px gray;
}

table.MuiTable-root {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
  box-shadow: 5px 10px gray;
}

td.MuiTableCell-root{
  border: 1px solid black;
  width: 25%;
}
th.MuiTableCell-root{
  border: 1px solid black;
  width: 25%;
}

thead.MuiTableHead-root{
  border: 1px solid black;
 
}
tbody.MuiTableBody-root{
  border: 1px solid black;

}
tr.MuiTableRow-root{
  border: 1px solid black;
}